{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="headertext">
    <p>{{ title }}</p>
  </div>
  <header class="aboutheader"></header>

  <div class="container">
    <h1>What's The Point?</h3>
      <p>Smashtag is a way to visualize data from Twitter.</p>
    <h1>Why Would You Actually Want This?</h3>
      <p>Plenty of reasons! Smashtag was designed to see how your Twitter hashtag
        is doing against your competitors. It basically finds out how many people
        are talking about a topic on Twitter at that given moment. OR just use this for
        fun! Data here is complied in an interesting way. Just go and find out what
        topics rule over the other on twitter!</p>

  </div>

{% endblock %}
