{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="headertext">
    <p>{{ title }}</p>
  </div>
  <header class="aboutheader"></header>
  {% if profile %}
    <div class="row">
      <div class="col-xs-4">
        <img style="float: right;" src="{{ profile.avatar_url }}" alt="{{ profile.display_name }}">
      </div>
      <div class="col-xs-8">
        <h3>Welcome {{ profile.display_name }}</h3>
      </div>
    </div>
  {% endif %}
    <hr>
    <form>
      <div class="row">
        <div class="col-xs-4">
          <input id="sentiment" type="text" class="form-control" placeholder="Enter In Hashtag">
        </div>
     </div>
     <div class="row">
       <button id="start_analysis">Start</button>
       <button id="stop_analysis">Stop</button>
     </div>
   </form>

{% endblock %}
