{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
<div class="headertext">
  <p>{{ title }}</p>
</div>
<header class="chartsheader"></header>

  <div class="container">

 {% if profile %}
   <hr>
   <div class="row">
     <div class="col-xs-4">
       <img style="float: right;" src="{{ profile.avatar_url }}" alt="{{ profile.display_name }}">
     </div>

     <div class="col-xs-8">
       <h3>Welcome {{ profile.display_name }}</h3>
     </div>
   </div>
 {% endif %}
<section class="col-xs-5">
   <form method="post">
     <div class="column">
      <input id="twit" type="text" class="form-control" name="twit" placeholder="Enter In Hashtag">
      <p style="text-align: center;">VS.</p>
      <input id="twit2" type="text" class="form-control" name="twit2" placeholder="Enter In Hashtag">
      <p style="text-align: center;">VS.</p>
      <input id="twit3" type="text" class="form-control" name="twit3" placeholder="Enter In Hashtag">
      <button type="submit" class="btn btn-success" id="submit_form">Submit</button>
      <a href="/stoptweets" onclick="stopTimer()" class="btn btn-danger" id="stop_tweet">Stop Tweet Stream</a>
    </div>
  </form>
</section>
  <div class="col-xs-6 column">
    <div id="examplegraph" style="min-width: 310px; height: 300px; max-width: 500px; margin: 0 auto; margin-top: 10px;"></div>
  </div>

</div>
 </div>

{% endblock %}
