{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
<header class="indexheader">
  <div class="headertext">
    <p>{{ title }}</p>
  </div>
</header>

  <div class="container">

 {% if profile %}
   <hr>
   <div class="row">
     <div class="col-xs-4">
       <img style="float: right;" src="{{ profile.avatar_url }}" alt="{{ profile.displayName }}">
     </div>

     <div class="col-xs-8">
       <h3>{{ profile.display_name }}</h3>
     </div>
   </div>
 {% endif %}
 <!-- <div id="examplegraph"></div> -->
 <section>
    <p style="font-size: 40px;">Graph Out You Competition With {{ title }}</p>

      <div class="col-xs-4">
      </div>
      <div class="col-xs-4">
        <img src="http://www.selflovebliss.com/images/twitter.gif" style="min-width: 310px; height: 300px; max-width: 600px; margin: 0 auto">
      </div>
      <div class="col-xs-4">
        
      </div>

  </section>
 </div>

{% endblock %}
