{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
<div class="headertext">
  <p>{{ title }}</p>
</div>
<header class="indexheader"></header>

  <div class="container">

 {% if profile %}
   <hr>
   <div class="row">
     <div class="col-xs-4">
       <img style="float: right;" src="{{ profile.avatar_url }}" alt="{{ profile.displayName }}">
     </div>

     <div class="col-xs-8">
       <h3>{{ profile.display_name }}</h3>
     </div>
   </div>
 {% endif %}
 <!-- <div id="examplegraph"></div> -->
 <section>
    <p style="font-size: 40px;">Graph Out You Competition With {{ title }}</p>
      <div class="row">
        <div class="col-xs-4">
          <img src="../assets/tweetbird.jpg" style="border-radius: 10px;">
        </div>
        <div class="col-xs-4" style="padding-top: 70px;">
          <h2>See how your tweets match up against each other!!</h2>
        </div>
      </div>
  </section>

 </div>

{% endblock %}
