{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<header>
  <h1>{{ title }}</h1>
  <p>Welcome to {{ title }}</p>
</header>

  <div class="container">

 {% if profile %}
   <hr>
   <div class="row">
     <div class="col-xs-4">
       <img style="float: right;" src="{{ profile.avatar_url }}" alt="{{ profile.displayName }}">
     </div>

     <div class="col-xs-8">
       <h3>{{ profile.display_name }}</h3>
     </div>
   </div>
 {% endif %}
 {% for tweet in tweets %}
  <div class="tweetbox">
    <h3>{{tweet}}</h3>
  </div>
{% endfor %}
 </div>

{% endblock %}
