<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <link rel='shortcut icon' href='http://www.faviconshut.com/pics/0/150-what-is-better-facebook-instagram-or-twitter-favicon.png' type='image/x-icon'/ >
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">

        <div>
          <div class="navbar-header">
            {% if profile %}
            <img src="{{ profile.avatar_url }}" alt="{{ profile.displayName }}">
            <a class="navbar-brand" href="/">Smashtag</a>
            {% else %}
            <a class="navbar-brand" href="/">Smashtag</a>
            {% endif %}
          </div>
          <ul class="nav navbar-nav">
            <!-- <li><a href="/">Home</a></li> -->
            <!-- <li><a href="/about">What Is This?</a></li> -->
            <li><a href="/charts">Get Started!</a></li>
            <!-- <li><a href="/business">More Options!</a><li> -->
            {% if profile %}
            <li><a href="/savedcharts/{{ profile.id }}">Profile</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if profile %}
            <li><a href="/auth/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {% else %}
            <li><a href="/auth/twitter"><i class="fa fa-twitter" style="font-size:20px;"></i> Twitter Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>

    </footer>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <!-- <script src="https://code.highcharts.com/highcharts.js"></script> -->
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/options.js"></script>
  </body>
</html>
