{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
  <section style="margin-top: 80px">
    <h1>Your Saved Searches</h1>

    <div class="container">
      <div class='row'>
        <div class="row col-xs-4" id=>
          <img class="img-responsive" src="../assets/chart.jpeg" alt="">
        </div>  
        <div  class="row col-xs-4" id="">
          <img class="img-responsive" src="../assets/chart2.jpeg" alt="">
        </div>  
        <div class="row col-xs-4" id="">
          <img class="img-responsive" src="../assets/chart3.png" alt="">
        </div>
      </div>

    </div>
  </section>

{% endblock %}
