{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
<meta http-equiv="refresh" content="5">

  <div class="container">

 {% if profile %}
   <hr>
   <div class="row">
     <div class="col-xs-4">
       <img style="float: right;" src="{{ profile.avatar_url }}" alt="{{ profile.displayName }}">
     </div>

     <div class="col-xs-8">
       <h3>{{ profile.display_name }}</h3>
     </div>
   </div>
 {% endif %}
 <!-- {% for tweet in tweets1 %}
  <div class="tweetbox">
    <h3>{{tweet}}</h3>
  </div>
{% endfor %} -->
 </div>

{% endblock %}
