body {
  background-color: grey;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color: black;
  /*margin: 5px;*/
}

.indexheader{
  background: url('../assets/twitbackground.jpeg');
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 600px;
  width: 100%;
  background-attachment: fixed;
  /*padding-top: -200px;*/
}

.aboutheader {
  background: url("../assets/space-invaders.png");
  background-size: cover;
  margin: 0;
  text-align: center;
  padding: 0;
  height: 300px;
  width: 100%;
  background-attachment: fixed;
}

/*.chartsheader{
  background: url("../assets/space-invaders-fight.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 300px;
  width: 100%;
  background-attachment: fixed;
  padding-top: -200px;
}*/

.headertext {
  padding-top: 80px;
  font-size: 70px;
  
}

.navbar {
    margin-bottom: 0;
    background-color: black;
    border: 0;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Press Start 2P', cursive;
}

.navbar li a, .navbar .navbar-brand {
    color: white !important;
}

.navbar-nav li a:hover {
    color: #4d79ff !important;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

input[type=text] {
  padding: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 15px;
}

button[name = submit] {
  border: 1px solid white;
  border-radius: 10px;
  width: 160px;
  font-size: 20px;
  color: white;
  background-color: black;
}

#stop_tweet {
  border: 1px solid white;
  border-radius: 10px;
  padding: 7px;
  width: 160px;
  font-size: 20px;
  color: white;
  background-color: black;
  text-decoration: none;
}

.tweetbox {
  margin: 10px;
  border: black 3px solid;
  border-radius: 5px;
  padding: 5px;
}

section {
  margin: 5px;
  padding: 5px;
}

#examplegraph {
  float: right;
  padding: 0px;
}

.total {
  line-height: 550%;
}

.img-responsive {
  margin:20px;
}
