.indexheader{
    background: url("https://amandeepmittal.files.wordpress.com/2012/08/mur6m.png");
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 600px;
    width: 100%;
    background-attachment: fixed;
    font-family: silkscreen;
    /*padding-top: -200px;*/
}

.chartsheader{
    background: url("http://www.imgbase.info/images/safe-wallpapers/miscellaneous/8_bit/6972_8_bit_8-bit.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 600px;
    width: 100%;
    background-attachment: fixed;
    font-family: silkscreen;
    padding-top: -200px;
}

.headertext {
  padding-top: 80px;
  text-align: center;
  color: white;
  font-size: 60px;
}

.navbar {
    margin-bottom: 0;
    background-color: black;
    border: 0;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-family: silkscreen;
}

.navbar li a, .navbar .navbar-brand {
    color: white !important;
}

.navbar-nav li a:hover {
    color: #4d79ff !important;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

.tweetbox {
  margin: 10px;
  border: black 1px solid;
}
