body {
  background-color: grey;
  font-family: silkscreen;
  text-align: center;
  color: black;
  /*margin: 5px;*/
}

.indexheader{
  background: url('../assets/twitbackground.jpeg');
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 600px;
  width: 100%;
  background-attachment: fixed;
  font-family: silkscreen;
  /*padding-top: -200px;*/
}

.aboutheader {
  background: url("../assets/space-invaders.png");
  background-size: cover;
  margin: 0;
  text-align: center;
  padding: 0;
  height: 400px;
  width: 100%;
  background-attachment: fixed;
  font-family: silkscreen;
}

.chartsheader{
  background: url("../assets/space-invaders-fight.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  font-family: silkscreen;
  padding-top: -200px;
}

.headertext {
  padding-top: 80px;
  font-size: 90px;
}

.navbar {
    margin-bottom: 0;
    background-color: black;
    border: 0;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-family: silkscreen;
}

.navbar li a, .navbar .navbar-brand {
    color: white !important;
}

.navbar-nav li a:hover {
    color: #4d79ff !important;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

input[type=text] {
  padding: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 25px;
}

.tweetbox {
  margin: 10px;
  border: black 3px solid;
  border-radius: 5px;
  padding: 5px;
}

section {
  margin: 5px;
  padding: 5px;
}
