body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar {
    margin-bottom: 0;
    background-color: black;
    border: 0;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.navbar li a, .navbar .navbar-brand {
    color: white !important;
}

.navbar-nav li a:hover {
    color: #4d79ff !important;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}
